<body xmlns:th="http://www.w3.org/1999/xhtml">
<form th:object="${chatForm}" action="#" th:action="@{/chat}" method="POST">
    <label for="username">Username:</label>
    <input id="username" type="text" th:field="*{username}">
    <label for="messageText">Message Text:</label>
    <input id="messageText" type="text" th:field="*{messageText}">
    <label for="messageType">Message Type: </label>
    <select id="messageType" th:field="*{messageType}">
        <option
                th:each="type : ${allMessageTypes}"
                th:value="${type}"
                th:text="${type}"
        >
            Say
        </option>
    </select>
    <input type="submit">
</form>
<div th:each="chatMessage : ${chatMessages}">
    <span th:text="${chatMessage.username}">username</span>: <span th:text="${chatMessage.message}" th:unless="${chatMessage.hasBannedWord()}">message</span>
</div>
<a href="/">Go to /</a>
</body>